<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title></title>
    <title>Best Restaurants</title>
</head>
<body>
    <h1>{{ cuisine.getName }}</h1>

    {% if restaurants is not empty %}
        <p>Here are the restaurants:</p>
        <ul>
            {% for restaurant in restaurants %}
                <li>{{ restaurant.getName }}</li>
                    <ul>
                        <li>Description: {{ restaurant.getDescription }}</li>
                    </ul>
            {% endfor %}
        </ul>
        {% else %}
            <p>
                no restaurants found
            </p>
        <!-- <form action="/delete_restaurants/{{ restaurant.getId }}" method="post">
            <button type="submit" name="button">Delete restaurants</button>
        </form> -->
    {% endif %}

    <h4>Add a restaurant</h4>

    <form action='/restaurants' method='post'>
        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getCuisineID() }}">
        <label for='name'>Restaurant Name</label>
        <input id='name' name='name' type='text'><br>


        <label for='description'>Description</label>
        <input id='description' name='description' type='text'><br><br>

        <button type='submit'>Add Restaurant</button>
    </form>
    <p><a href="/cuisines/{{ cuisine.getCuisineID }}/edit">Edit this cuisine</a></p>

    <p><a href='/'>Home</a></p>
</body>
</html>
